{{template "base" .}}

{{define "title"}}DOGGO{{end}}

{{define "main"}}
<div class="text-center">
    <img src={{ .GetImage }} alt="Responsive image" height="400">

</div>
<br>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-center" id="buttongrp">
    <button class="btn btn-outline-secondary" type="button" id="doggobutt"
        onclick="window.location.reload();">Doggo</button>
</div>

{{end}}